.row {
  position: relative;
}
.input {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 18px 10px;
  font-size: 16px;
  color: #B4B4B4;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}
.alertIcon {
  color: #f44336;
  position: absolute;
  right: 10px;
  margin-top: -10px;
  top: 50%;
  cursor: pointer;
  .errorText {
    &:hover {
      display: block;
    }
  }
}
.errorText {
  display: none;
}
