.root {
  margin: 0;
}
.item {
  cursor: pointer;

  &:hover {
    background: #f3f7ff;
  }
}

.link {
  text-decoration: none;
  padding: 16px 20px;
}

.linkActive {
  background: #f3f7ff;
}

.info {
  margin-left: 10px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.text__preview {
  font-size: 14px;
  color: #a6a6a6;
  font-weight: 300;
}

.verif {
  color: #0c8fe4;
  margin-left: 5px;
}
