.confirm {
  margin: 150px 0 100px;
  text-align: center;
}
.confirmTitle {
  font-size: 22px;
}
.icon {
  font-size: 50px !important;
  color: #3890F7;
  margin-bottom: 10px;
}
.text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #8F8F80;
  margin-top: 15px;
}