.root {
  //position: absolute;
  overflow: scroll;
  //flex: 1 1;
  //height: calc(100% - 57px);
  //width: 100%;
  padding: 35px 35px 0 35px;

}
.default {
  flex: 1 1;
  align-items: center;
  display: flex;
  justify-content: center;
}
.item {
  margin-bottom: 40px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.wrapAnswer {
  justify-content: flex-end;
  .date {
    text-align: right;
  }
  .avatar {
    order: 2;
    margin: 0 0 25px 15px;
  }
  .text {
    order: 1;
    color: #202020;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 0 12px;
  }
}
.avatar {
  margin: 0 15px 25px 0;
}
.info {
  margin: 0;
}
.text {
  background: #3674ff;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 12px 0;
  color: #ffffff;
  padding: 15px;
  max-width: 400px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  word-break: break-word;
}
.date {
  margin-top: 10px;
}
