.header {
  text-align: center;
  border-bottom: 1px solid #F7F7F7;
  padding: 11px 10px;
}
.userName {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  margin-bottom: 5px;
}
.status {
  font-size: 14px;
  color: #A6A6A6;
}
