.default {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  color: #d5dfe9;
}

.defaultImg {
  font-size: 100px !important;
}

.defaultText {
  color: #929eb0;
}

.stub {
  max-width: 220px;
  font-size: 14px;
}

.header {
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  padding: 11px 10px;
}

.userName {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}

.status {
  font-size: 14px;
  color: #a6a6a6;
}

.badge {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bdbdbd;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.badgeOnline {
  background: #00c980;
}
.verif {
  color: #0c8fe4;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}
