.item {
  margin-bottom: 10px;
  padding: 14px 0;
}
.info {
  margin-left: 10px;
}
.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  margin-bottom: 5px;
}
.text__preview {
  font-size: 14px;
  color: #A6A6A6;
}