.item {
  padding: 16px 20px;
  cursor: pointer;
  &:hover {
    background: #F3F7FF;
  }
}
.info {
  margin-left: 10px;
}
.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.text__preview {
  font-size: 14px;
  color: #A6A6A6;
  font-weight: 300;
}
.verif {
  color: #0C8FE4;
  margin-left: 5px;
}