html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#root {
  height: 100%;
}
.pageWrap {
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.formParent {
  width: 430px;
}
.formWrap {
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04204);
  border-radius: 3px;
  padding: 45px;
  margin-top: 50px;
}
.formHeader {
  text-align: center;
  font-weight: 300;
}
.formHeader__title {
  font-size: 28px;
  line-height: 33px;
  color: #202002;
  margin-bottom: 10px;
}
.formHeader__desc {
  color: #8F8F80;
}
.btn {
  width: 100%;
  border: none;
  background: #4CA5FF;
  border-radius: 4px;
  padding: 20px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &_blue {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }
  }
}
