.root {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border-top: 1px solid #f7f7f7;
}
.item {
  padding: 0 10px;
  svg {
    cursor: pointer;
  }
}
.active {
  color: #0c8fe4;
}
